<a href="https://colab.research.google.com/github/cesaralejon/clusters/blob/main/clusters_Cesar_Olmedo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as seaborn
import numpy as np

In [16]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN
from sklearn.metrics import silhouette_score

In [5]:
filename = ('/content/drive/MyDrive/Coding Dojo/Week 8/cust_seg.csv')
df = pd.read_csv(filename)
df.head()

   Unnamed: 0  Customer Id  Age  ...  Other Debt  Defaulted  DebtIncomeRatio
0           0            1   41  ...       1.073        0.0              6.3
1           1            2   47  ...       8.218        0.0             12.8
2           2            3   33  ...       5.802        1.0             20.9
3           3            4   29  ...       0.516        0.0              6.3
4           4            5   47  ...       8.908        0.0              7.2

[5 rows x 10 columns]

In [7]:
df.shape

(850, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       850 non-null    int64
 1   Customer Id      850 non-null    int64
 2   Age              850 non-null    int64
 3   Edu              850 non-null    int64
 4   Years Employed   850 non-null    int64
 5   Income           850 non-null    int64
 6   Card Debt        850 non-null    float64
 7   Other Debt       850 non-null    float64
 8   Defaulted        700 non-null    float64
 9   DebtIncomeRatio  850 non-null    float64
dtypes: float64(4), int64(6)
memory usage: 66.5 KB

In [9]:
df.dropna(inplace=True)

## Parte 1

In [10]:
scalar = StandardScaler()
scalar_df = scalar.fit_transform(df)

In [21]:
s_scores = []
for i in range(2, 11):
  kmeans = KMeans(n_clusters=i)
  kmeans.fit(scalar_df)